@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=C8A56A11-98BF-4B28-8F95-79BBE65549AE

@flash-global66:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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