//npm.fontawesome.com/:_authToken=C8A56A11-98BF-4B28-8F95-79BBE65549AE
@fortawesome:registry=https://npm.fontawesome.com/

//npm.pkg.github.com/:_authToken=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
@flash-global66:registry=https://npm.pkg.github.com/