@use "element-plus/theme-chalk/src/input.scss" as *;

.gui-input-wrapper {
  @apply relative font-montserrat flex items-center w-full;

  .gui-input-label {
    @apply absolute z-10 duration-200 transition-all text-gray-4 px-3 text-ellipsis overflow-hidden whitespace-nowrap select-none;
  }

  .label--active {
    @apply text-xs translate-y-0;
  }

  .label--no-active {
    @apply top-1/2 -translate-y-1/2 text-base;
  }

  .label--active {
    top: 16%;
    @apply text-[14px];
  }

  &.size--tiny {
    .label--active {
      top: 14%;
      @apply text-[11px] ;
    }
  }
  &.size--small {
    .label--active {
      top: 15%;
      @apply text-xs;
    }
  }
  &.size--large {
    .label--active {
      top: 16%;
      @apply text-[14px];
    }
  }

  .label__textarea--active {
    @apply text-xs translate-y-0 top-2;
  }

  .label__textarea--no-active {
    @apply top-5 -translate-y-1/2 text-base;
  }

  .gui-input {
    @apply h-14;
    &--tiny {
      @apply h-10 text-sm;
    }
    &--small {
      @apply h-12 text-sm;
    }
    &--large {
      @apply h-16 text-lg;
    }

    .gui-input__wrapper {
      @apply shadow-none border-none px-3 ;
    }
  
    .gui-input__inner {
      @apply h-auto relative duration-200 transition-all text-gray-2 leading-none;
    }
  
    &.is-disabled {
      .gui-input__wrapper {
        @apply bg-gray-11 cursor-not-allowed shadow-radio;
      }
    }

    .gui-input__clear,
    .gui-input__password {
      @apply select-none text-lg;
    }
  }

  .gui-textarea {
    @apply shadow-input border-none px-3 bg-white pb-4 pt-7 rounded-md;
  
    .gui-textarea__inner {
      @apply relative duration-200 transition-all text-gray-2 leading-5 shadow-none p-0;
    }
  
    &.is-disabled {
      .gui-textarea__wrapper {
        @apply bg-gray-11 cursor-not-allowed shadow-radio;
      }
    }

    .gui-textarea__clear,
    .gui-textarea__password {
      font-size: 18px;
    }
  }

  &.gui-input-wrapper--shadow {
    .gui-input {
      .gui-input__wrapper {
        @apply shadow-radio;
      }
      
      &:hover {
        &:not(.gui-input-disabled) {
          .gui-input__wrapper {
            @apply shadow-radio;
          }
        }
      }
    }
  }

  &.gui-input-wrapper--transparent {
    .gui-input {
      .gui-input__wrapper {
        @apply bg-transparent;
      }
      .gui-input.is-focus .gui-input__wrapper,
      .gui-input .gui-input__wrapper.is-focus {
        box-shadow: none;
      }
    }
  }
}