@use "element-plus/theme-chalk/src/form.scss" as *;

.gui-form-item {
  &.is-error {
    .gui-select-v2__wrapper,
    .gui-textarea__inner {
      &,
      &:hover,
      &:focus {
        box-shadow: 0 0 0 2px theme('colors.red.1') inset;
      }
    }

    .gui-select-wrapper .gui-select .gui-input__wrapper,
    .gui-input__wrapper,
    .gui-input__validateIcon,
    .gui-input__wrapper:hover {
      box-shadow: 0 0 0 2px theme('colors.red.1') inset;
    }

    .gui-input-group__append,
    .gui-input-group__prepend {
      .gui-input__wrapper {
        box-shadow: 0 0 0 2px transparent inset;
      }
    }

  }
}

.gui-form-item__error {
  padding-top: 2px;
}

.gui-form-item {
  &.is-error {
    .gui-select-wrapper .gui-select .gui-input__wrapper:hover,
    .gui-input__wrapper {
      
    }
  }
}