@use "element-plus/theme-chalk/src/tag.scss" as *;

.gui-tag {
  --gui-tag-border-radius: theme('borderRadius.xl');
  @apply font-medium px-2 py-1;
  --gui-icon-size: theme('fontSize.2');
  &--small {
    --gui-icon-size: theme('fontSize.1');
  }
  &--large {
    --gui-icon-size: theme('fontSize.3');
  }

  &.gui-tag {
    &--primary {
      --gui-tag-text-color: theme('colors.nightBlue.900');
      --gui-tag-bg-color: theme('colors.nightBlue.50');
      --gui-tag-border-color: theme('colors.nightBlue.900');
      --gui-tag-hover-color: theme('colors.nightBlue.800');
    }
    &--success {
      --gui-tag-text-color: theme('colors.nightBlue.700');
      --gui-tag-bg-color: theme('colors.green.50');
      --gui-tag-border-color: theme('colors.green.700');
      --gui-tag-hover-color: theme('colors.green.600');
    }
    &--info {
      --gui-tag-text-color: theme('colors.nightBlue.900');
      --gui-tag-bg-color: theme('colors.grey.50');
      --gui-tag-border-color: theme('colors.grey.500');
      --gui-tag-hover-color: theme('colors.grey.400');
    }
    &--warning {
      --gui-tag-text-color: theme('colors.nightBlue.900');
      --gui-tag-bg-color: theme('colors.yellow.50');
      --gui-tag-border-color: theme('colors.yellow.700');
      --gui-tag-hover-color: theme('colors.yellow.600');
    }
  
    &--danger {
      --gui-tag-text-color: theme('colors.nightBlue.900');
      --gui-tag-bg-color: theme('colors.red.50');
      --gui-tag-border-color: theme('colors.red.700');
      --gui-tag-hover-color: theme('colors.red.600');
    }
  }
}

.gui-tag__content {
}